/***************************
GENERAL STYLES
***************************/

* {
    margin: 0;
}

html {
    width: 100vw;
}

body {
/*  padding: 50px;*/
    font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
/*    for smooth letters (like antialiasing) */
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

li {
    list-style: none;
}


div {
    text-align: center;
}

div img {
    width: 100%;
    
    border-radius: 10px;
}

a:link, a:visited {
    color: #61b8e4;
    text-decoration: none;
}

a:not(:first-child) {
    padding: 10px 20px;
    margin: 2% 0;
    
    color: #333;
    background: #ccc;
    border-radius: 13px;
    border: none;
    border-bottom: 5px solid #43809f;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .4),
                -1px -1px 3px rgba(0, 0, 0, .2);
    
    transition: all .12s ease-out;
}


a:hover {
    background: #80c6e9;
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, .3);
    
    cursor: pointer;
}

a:active {
    border-bottom: 2px solid #43809f;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .4),
                inset -1px -1px 3px rgba(0, 0, 0, .2);
}


/***************************
NAVIGATION STYLES
***************************/

.navbar {
    background: #444;
    width: 100vw;    
    height: auto;

    border-bottom: 5px solid #43809f;
}

.navbar h1 {
    display: inline-block;
    
    float: left;
    
    font-size: 2.5em;
    color: white;
}

.navbar li {
    float: right;
    margin: 0.5% 2%;
    
    color: white;
    
    font-size: 2em;
}

.navbar li a{
    padding: 0 15px;
    transition: all .1s ease-out;
}

.navbar li a:hover {
    color: #77c2e8;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
    border-bottom: 5px solid #222;
    border-left: 3px solid #555;
    border-right: 3px solid #333;
    border-radius: 9px;
}

.navbar li a:active {
    color: white;
    border-bottom: 2px solid #222;
    border-left: 1px solid #555;
    border-right: 1px solid #333;
}
/***************************
CONTAINER STYLES
***************************/
.container {
    background: rgba(0, 0, 0, .1);
    width: 80vw;
}

.container .col-sm-12 {
    float: none;
}

.container .main-description {
    margin-top: 2%;
    
    text-align: left;
}

.container .main-description h1 {
    font-size: 3em;
}

.container .subName {
    text-align: left;
}

.subcategory {
    margin: 0;
    padding: 2% 0;
    
    line-height: 2;
}

.subcategory .category-item {
    position: relative;
    margin-top: 2%;
    margin-bottom: 5%;
}

.subcategory .category-item a {
    margin: 0;
    margin-left: 2%;
    padding: 2px 5px;
    
    color: #333;
    background: #ccc;
    border-radius: 13px;
    border: none;
    border-bottom: 5px solid #43809f;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .4),
                -1px -1px 3px rgba(0, 0, 0, .2);
    
    transition: all .12s ease-out;
}

.subcategory .category-item a:hover {
    background: #80c6e9;
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, .3);
    
    cursor: pointer;
}

.subcategory .category-item a:active {
    border-bottom: 2px solid #43809f;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .4),
                inset -1px -1px 3px rgba(0, 0, 0, .2);
}



/***************************
SUBCATEGORY STYLES
***************************/


/***************************
PRODUCTS STYLES
***************************/

.container .products {
    margin: 0;
    padding: 0;
}

.container .products li {
    margin: 2vh 0 1vh 0;
    padding: 0;
}

.container .products li h1 {
    font-size:  1.3vw;
}

.container .products li p {
    font-size: 1vw;
}

.container .products li p a {
    margin: 0;
    margin-left: 2%;
    padding: 2px 5px;
    
    color: #333;
    background: #ccc;
    border-radius: 13px;
    border: none;
    border-bottom: 5px solid #43809f;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .4),
                -1px -1px 3px rgba(0, 0, 0, .2);
    
    transition: all .12s ease-out;
}

.container .products li p a:hover {
    background: #80c6e9;
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, .3);
    
    cursor: pointer;
}

.container .products li p a:active {
    border-bottom: 2px solid #43809f;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .4),
                inset -1px -1px 3px rgba(0, 0, 0, .2);
}

.container .products li button {
    float: right;
}

.container .products li img {
    width: 48%;
    float: left;
}

/***************************
PRODUCT INFORMATION STYLES
***************************/
.container .product-info {
    position: relative;
    height: 72vh;
    padding-top: 5%;
    
    text-align: left;
}

.container .product-info img {
    float: left;
    width: 100%;
    height: auto;
    
    padding: 10px;
    margin-right: 2%;
    border: 1px solid #777;
}

.container .product-info a {
    margin: 0;
    margin-left: 2%;
    padding: 2px 5px;
    
    color: #333;
    background: #ccc;
    border-radius: 13px;
    border: none;
    border-bottom: 5px solid #43809f;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .4),
                -1px -1px 3px rgba(0, 0, 0, .2);
    
    transition: all .12s ease-out;
}

.container .product-info a:hover {
    background: #D95151;
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, .3);
    
    cursor: pointer;
}

.container .product-info a:active {
    border-bottom: 2px solid #43809f;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .4),
                inset -1px -1px 3px rgba(0, 0, 0, .2);
}


.container .product-info ul {
    text-align: right;
}

.container .product-info ul li {
    display: inline;
}

.container .product-info ul li:first-child {
    margin-right: 2%;
}

.container .product-info .price {
    text-align: right;
}

.container .product-info .price input {
    color: #555;
    width: 4%;
    text-align: right;
    background: rgba(0, 0, 0, 0);
    
    border-radius: 5px;
    border: none;
}

.container .product-info img {
    width: 35%;
}

/***************************
FOOTER STYLES
***************************/
.footer {
    height: 10vh;
    width: 100vw;
    
    padding: 5% 2% 5% 0;
    margin: 0;
    
    color: #888;
    background: #333;
    
    text-align: right;
    
    border-top: 5px solid #61B8E4;
}

.footer p {
    font-size: 1.5em;
}

/***************************
ADDITIONAL CLASSES STYLES
***************************/
/* colors */
.dark {
    color: #444;
}

.tomato {
    color: tomato;
}

.white {
    color: white;
}
/* end colors */
.text-white-shadow {
    text-shadow: 1px 1px 3px rgba(255, 255, 255, .4);
}

.text-dark-shadow {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
}

.border-bottom {
    border-bottom: 2px solid white;
}

.left {
    text-align: left;
}