<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">

        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    
    <body>
        <div class="navbar">
            <a href="/hello"><h1>Node JS Online Store</h1></a>
            
            <ul>
                <li><a href="/category/mens">Men</a></li>
                <li>|</li>
                <li><a href="/category/womens">Women</a></li>
            </ul>
            
        </div>
        
        <div class="container">
            <div class="subcategory">                
                <% _.each(id, function(topC) { %>
                    <% _.each(topC.categories, function(subC){ %>
                    <div class="category-item">
                        <h1 class="left white text-dark-shadow"><%= subC.name %></h1>                    
                        <p class="left"><%= subC.page_description %><a href="/category/<%= topC.id %>/subcategory/<%= subC.id %>">View Subcategories</a></p>
                        <% if (subC.image) { %>
                            <div>
                                <img src="/images/<%= subC.image %>">
                            </div>
                        <% } %>                        
                    </div>
                    <% }); %>
                <% }); %>
            </div>
        </div>
        
        <div class="footer col-sm-12">
            <p>&copy;Company Info - 2016</p>
        </div>
        
    <!-- SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
    </body>
</html>