<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">

        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    
    <body>
        <div class="navbar">
            <a href="/hello"><h1>Node JS Online Store</h1></a>
            
            <ul>
                <li><a href="/category/mens">Men</a></li>
                <li>|</li>
                <li><a href="/category/womens">Women</a></li>
            </ul>
        </div>
        
        <div class="container">
            <div class="col-sm-12">
                <div class="main-description">
                    <h1 class="dark text-dark-shadow border-bottom">Lorem Ipsum</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam adhuc, meo fortasse vitio, quid ego quaeram non perspicis. Nulla profecto est, quin suam vim retineat a primo ad extremum. Quid est, quod ab ea absolvi et perfici debeat? Duo Reges: constructio interrete. Nam quid possumus facere melius?</p>
                    <p>At cum de plurimis eadem dicit, tum certe de maximis. Ergo ita: non posse honeste vivi, nisi honeste vivatur? Non quam nostram quidem, inquit Pomponius iocans; Et quidem, Cato, hanc totam copiam iam Lucullo nostro notam esse oportebit; Ita multa dicunt, quae vix intellegam. Quod quidem iam fit etiam in Academia.
                    Cum autem in quo sapienter dicimus, id a primo rectissime dicitur. Tibi hoc incredibile, quod beatissimum. Ergo adhuc, quantum equidem intellego, causa non videtur fuisse mutandi nominis. Aperiendum est igitur, quid sit voluptas; Nonne igitur tibi videntur, inquit, mala? Familiares nostros, credo, Sironem dicis et Philodemum, cum optimos viros, tum homines doctissimos.</p>
                </div>
            </div>
            
            <div class="subcategory left border-bottom">
            <% _.find(id, function(category) { %>
                <% if(category.id == 'mens') { %>
                    <h1 class="white text-dark-shadow"><%= category.name %></h1>
                    <h3><%= category.page_title %></h3>
                    <img src="/images/categories/man-fashion.jpg" alt="men fashion banner">
                    <p><%= category.page_description %></p>
                    <a href="/category/<%= category.id %>" id="<%= category.id %>">View categories</a>                    
                <% } %>
            <% }) %>
            </div>
            
            <div class="subcategory left border-bottom">
            <% _.find(id, function(category) { %>
                <% if(category.id == 'womens') { %>
                    <h1 class="white text-dark-shadow"><%= category.name %></h1>
                    <h3><%= category.page_title %></h3>       
                    <% console.log(category.id) %>
                    <img src="/images/categories/women-fashion.jpg" alt="men fashion banner">
                    <p><%= category.page_description %></p>
                    <a href="/category/<%= category.id %>" id="<%= category.id %>">View categories</a>
                <% } %>
            <% }) %>
            </div>
        </div>    
        
        <div class="footer col-sm-12">
            <p>&copy;Company Info - 2016</p>
        </div>
        
    <!-- SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
    </body>
</html>